{% extends 'donor/base.html' %}
{% load static %}
{% block title %}Сокальський підрозділ КРП ЛОР "Львівський обласний центр служби крові"{% endblock %}
{% block content %}
<h1>Шановний відвідувачу нашого сервісу!</h1>
<h2> Тебе вітає Сокальський підрозділ КРП ЛОР "Львівський обласний центр служби крові"</h2>
<br>
<h5>Донорська кров необхідна постійно. Якщо її не вистачає, переносяться операції, вмирають постраждалі в автокатастрофах,
    за важких пологів гинуть мами, онкохворі не можуть пройти курси терапії тощо.
    Повномасштабна війна, яку веде росія проти України з 24 лютого 2022 року, критично загострила потребу у донації.
    Здаючи кров, донори дарують людям шанси на життя — у тому числі, нашим захисникам.</h5>
<br>
<h3><strong>Не будь байдужим! Стань почесним донором - врятуй життя!</strong></h3>

<h4>Для початку - зареєструйся та пройди невеликий тест, що дає нам змогу зрозуміти на скільки ти придатний для здачі
    крові</h4>
<p>Для реєстрації - натисни на це <a href="{% url 'register' %}"><strong>посилання</strong></a></p>
<p>Вибери пункт - "Пройти тест" <br>
    А дальше, відповівши на всі запитання - просто його відправ. <br></p>

І пам'ятай, що відповіді повинні бути чесними та даними на всі запитання.
<br>
<strong>Щиро тобі дякуємо за твою небайдужість</strong><br>
<strong>Миру всім!</strong>

{% endblock %}