{% extends 'donor/base.html' %}
{% load static %}
{% block title %}
    Історія донорства
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/donor.css' %}">

<h1>Історія донорства. Донор: {{user.username}}</h1>
{% if history %}
    {% for event in history %}
        <table id="main_table">
            <tr id="tr_main">
                <th>Дата</th>
                <th>Здано, мл</th>
                <th>Коментар до візиту</th>
            </tr>
            <tr>
                <td>{{event.donation_date}}</td>
                <td>{{event.donated_volume}}</td>
                <td>{{event.comment}}</td>
                <td>
                    <table id="second_table">
                        <tr>
                            <th>Артеріальний тиск</th>
                            <th>Серцебиття</th>
                            <th>Гемоглобін</th>
                            <th>Зауваження, рекомендації донору</th>
                        </tr>
                        <tr>
                            <td>{{event.currenthealthparameter.blood_pressure}}</td>
                            <td>{{event.currenthealthparameter.heart_rate}}</td>
                            <td>{{event.currenthealthparameter.hemoglobin}}</td>
                            <td>{{event.currenthealthparameter.common_info}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    {% endfor %}
{% else %}
<h4>Станом на поточний момент дані історії відсутні, оскільки ще немає результатів Ваших тестів.</h4>
{% endif %}

<div class="pagination justify-content-center">
    <span class="step-links">
        {% if history.has_previous %}
            <a href="?page=1">&laquo;Перша </a>
            <a href="?page={{ history.previous_page_number }}"> Попередня </a>
        {% endif %}

        <span class="current">
            Сторінка {{ history.number }} із {{ history.paginator.num_pages }}.
        </span>

        {% if history.has_next %}
            <a href="?page={{ history.next_page_number }}"> Наступна </a>
            <a href="?page={{ history.paginator.num_pages }}"> Остання&raquo;</a>
        {% endif %}
    </span>
  </div>

{% endblock %}