{% extends 'donor/base.html' %}
{% load static %}
{% block title %}
    {{inst_name.full_name}}
{% endblock %}
{% block content %}

{% if user.is_authenticated %}
   {% if user.profile.gender == 'Чоловіча' %}
     <h1>Шановний {{user.first_name}}!</h1>
   {% else %}
     <h1>Шановна {{user.first_name}}!</h1>
   {% endif %}

{% else %}
    <h1>Шановний Доноре!</h1>
{% endif %}
<h2>Вас вітає {{institution.full_name}}</h2>
<h4>Пропонуємо Вам пройти попередній тест донора, який допоможе нам визначити Вашу придатність бути донором.
Після перевірки результатів, Вам зателефонує спеціалість служби крові для подальших інструкцій.</h4>
<br><br>

<p><a href="{% url 'take_test' %}">Пройти тест</a></p>
<p><a href="{% url 'get_history' user.profile.id %}">Моя історія</a></p>

{% endblock %}