{% extends 'institution/base.html' %}
{% load static %}
{% block title %}Донори{% endblock %}
{% block content %}
<h1>Донори</h1>

<h5><a href="{% url 'main_page' %}">Перейти на головну</a></h5>
<h5><a href="{% url 'all_categories' %}">Перейти у категорії запитань</a></h5>
<h5><a href="{% url 'all_questions' %}">Перейти у запитання для донорів</a></h5>

<h3>Перелік донорів</h3>

{% if donors %}
 {% for donor in donors %}
    <a href="{% url 'specific_donor' donor.id %}">{{donor.user__username}}</a>

    {% if donor.test__status == 11 %}
        Новий тест
    {% endif %}<br>
 {% endfor %}
{% endif %}


{% endblock %}