{% extends 'institution/base.html' %}
{% load static %}

{% block title %}
        {{inst_name.full_name}}
{% endblock %}
{% block content %}

{% if messages %}
    {% for message in messages %}
      <p>{{message}}</p>
    {% endfor %}
{% endif %}

<h1>{{inst_name.full_name}}</h1>
<h2>Центр управління</h2>

<p><a href="{% url 'get_institution_info' %}">Інформація про центр</a></p>
<p><a href="{% url 'all_donors' %}">Донори</a></p>
<p><a href="{% url 'all_categories' %}">Категорії запитань</a></p>
<p><a href="{% url 'all_questions' %}">Запитання для донора</a></p>

{% endblock %}