{% extends 'donor/base.html' %}
{% load static %}
{% block title %}
    Login
{% endblock %}
{% block content %}

{% if messages %}
    {% for message in messages %}
      <p>{{ message}}</p>
    {% endfor %}
{% endif %}

{% if form.errors %}
  <p>{{ errors }}</p>
{% endif %}

<!-- Section: Design Block -->
<section class="text-center text-lg-start">
  <style>
    .rounded-t-5 {
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }

    @media (min-width: 992px) {
      .rounded-tr-lg-0 {
        border-top-right-radius: 0;
      }

      .rounded-bl-lg-5 {
        border-bottom-left-radius: 0.5rem;
      }
    }
  </style>
  <div class="container py-5 h-100">
  <div class="card mb-3">
    <div class="row g-0 d-flex align-items-center">
      <div class="col-lg-4 d-none d-lg-flex">
        <img src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg" alt="Trendy Pants and Shoes"
          class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
      </div>
      <div class="col-lg-8">
        <div class="card-body py-5 px-md-5">

          <form method="post" action="{% url 'make_login' %}">
              {% csrf_token %}
            <!-- Email input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="form2Example1">Email address</label>
              <input type="email" name="email" id="form2Example1" class="form-control" />

            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="form2Example2">Password</label>
              <input type="password" name="password" id="form2Example2" class="form-control" />
            </div>

            <!-- 2 column grid layout for inline styling -->
            <div class="row mb-4">
              <div class="col d-flex justify-content-center">
                <!-- Checkbox -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                  <label class="form-check-label" for="form2Example31"> Remember me </label>
                </div>
              </div>

              <div class="col">
                <!-- Simple link -->
<!--                <a href="#" data-mdb-toggle="modal" data-mdb-target="#exampleModal">Forgot password?</a>-->
                <button type="button" class="btn btn-primary"
                        data-toggle="modal" data-target="#exampleModalCenter">
                Forgot password?</button>
              </div>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

          </form>

        </div>
      </div>
    </div>
  </div>
    </div>



<!--Password recover modal  -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Відновлення пароля</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'prepare_password_recover' %}">
          {% csrf_token %}
          <div class="form-outline">
            <label class="form-label" for="typeEmail">Введіть адресу електронної пошти:</label>
            <input type="email" id="typeEmail" name="email_for_recover" class="form-control my-3 w-60">

          </div>
            <input type="submit" class="btn btn-primary w-50" value="Надісати">
<!--            <button type="button" class="btn btn-secondary w-30" data-dismiss="modal">Відміна</button>-->
        </form>
      </div>
    </div>
  </div>
</div>






<!--<div class="modal top fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"-->
<!--     aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">-->
<!--    <div class="modal-dialog" style="width: 300px;">-->
<!--        <div class="modal-content text-center">-->
<!--            <div class="modal-header h5 text-white bg-primary justify-content-center">-->
<!--                Password Reset-->
<!--            </div>-->
<!--            <div class="modal-body px-5">-->
<!--                <p class="py-2">-->
<!--                    Enter your email address and we'll send you an email with instructions to reset your password.-->
<!--                </p>-->
<!--                <div class="form-outline">-->
<!--                    <input type="email" id="typeEmail" class="form-control my-3" />-->
<!--                    <label class="form-label" for="typeEmail">Email input</label>-->
<!--                </div>-->
<!--                <a href="#" class="btn btn-primary w-100">Reset password</a>-->
<!--                <div class="d-flex justify-content-between mt-4">-->
<!--                    <a class="" href="#">Login</a>-->
<!--                    <a class="" href="#">Register</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


</section>

<!-- Section: Design Block -->
{% endblock %}