{% extends 'donor/base.html' %}
{% load static %}
{% block title %}
    Зміна пароля
{% endblock %}
{% block content %}

{% if messages %}
    {% for message in messages %}
      <p>{{ message}}</p>
    {% endfor %}
{% endif %}

{% if form.errors %}
  <p>{{ errors }}</p>
{% endif %}

<form action="{% url 'recover_password' uidb64 token %}" method="post">
    {% csrf_token %}
    <label for="new_password1">Введіть новий пароль:</label><br>
    <input type="password" name="new_password1" id="new_password1"><br><br>

    <label for="new_password2">Повторіть новий пароль:</label>
    <input type="password" name="new_password2" id="new_password2">

    <input type="submit" value="Надіслати">
</form>

{% endblock %}